repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: (automation/|ci/|code-scanning/|deployments/|pages/).*(yaml|yml|json)$

- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
    files: \.(md|mdown|markdown)$